@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

/* Utilities */

.sticky {
    position: fixed;
    background-color: green;
    top: 0;
    width: 100%;
    opacity: 0.8;
  }

.text {
  text-transform: uppercase;
}

.navigation {
    display: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background: green;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 2rem;
}

.btn:hover {
  background: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Navbar */
#navbar {
  display: flex;
  /* position: sticky;
  top: 0;
  background: transparent; */
  color: #fff;
  justify-content: space-around;
  z-index: 5000;
  padding: 2rem 0;
}

#navbar h1 {
  font-weight: 300;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.75rem;
}

#navbar ul li a:hover {
  /* background: #93cb52; */
  border-radius: 5px;
  border-bottom: 1px solid red;
}

/* Header */
#header {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("../img/articleocw-5d07e6b3790af.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin-top: -15rem;
  color: #fff;
}

#header .header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.header-img img {
  border-radius: 50%;
  height: 18rem;
  max-width: 18rem;
}

.icons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -5rem;
}

.icons i {
  z-index: 2000;
  background: green;
  padding: 2rem 2.5rem;
  border-radius: 20rem;
  margin: 1rem 0.4rem;
  width: 7.5rem;
}

.icons i.fa {
  font-size: 3rem;
  color: #fff;
}

/* About */

.about {
  margin: 5rem 10rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(194, 189, 189, 0.5);
  padding: 2rem;
}

/* Projects */
.proj h2 {
  text-align: center;
  margin-top: 10rem;
}
.projects {
  display: flex;
  padding: 2rem 10rem;
}
.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(194, 189, 189, 0.5);
  margin: 2rem;
}

.project-img {
  flex: 1;
  border-bottom: rgb(189, 189, 189) 1px solid;
  max-width: 1rem;
  vertical-align: middle;
}

.project-body {
  padding: 1rem;
}

/* Skills */

.skills h2 {
  text-align: center;
  margin: 4rem 0;
}

.skills {
  padding: 2rem 12rem;
}

.skills-container {
  padding: 3rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(194, 189, 189, 0.5);
}

.skill-row {
  display: flex;
  justify-content: space-between;
}

.skill-row .skill {
  width: 50rem;
}

.skill-row .row {
  display: flex;
  justify-content: space-between;
}

.skill-row .row2 {
  border: none;
  background-color: rgb(231, 227, 227);
}

.skill-row .row2 div {
  border: none;
  background-color: red;
  width: 80%;
  height: .5rem;
  margin: 1.5rem 0;
  border-radius: .3rem;
  /* Animation */
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
    width: 10%;
  }
  80% {
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    /* transform: translate(0); */
  }
}


/* Contact */
#contact-me {
    margin: 4rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 131, 0.8)
      ),
      url("../img/articleocw-5d07e6b3790af.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
  }

.contact h2 {
    text-align: center;
    margin: 1rem 0;
  }
  
  .contact-me {
    margin: 3rem 0;
    padding: 2rem 12rem;
  }

.contact {
    margin: auto;
    max-width: 80%;
    padding: 3rem;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(194, 189, 189, 0.5);
  }

.form {
    background-color: #eee;
    border-radius: .5rem;
    border: 1px #eee solid;
    width: 100%;
    height: 4rem;
    padding: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem ;
}

.textarea {
    background-color: #eee;
    border-radius: .5rem;
    border: 1px #eee solid;
    width: 100%;
    padding: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

input::placeholder, textarea::placeholder {
    font-family: inherit;
}

input:focus, textarea:focus {
    outline: none;
    border-color: green;
}

/* Footer */
.footer {
    margin: 5rem auto;
    text-align: center;
    line-height: 1.8;
    font-size: 1.8rem;
}

.footer .icons {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .footer #footer i {
    padding: 2rem 2.5rem;
    margin: .2rem 0.4rem;
  }
  
  .footer #footer i.fa {
    font-size: 4rem;
    color: green;
  }